@use "variables" as *;
@use "media-queries" as *;

.about,
.experience {
  position: relative;

  h6 {
    position: absolute;
    top: 0.2rem;
    left: -7.5rem;

    width: 5rem;

    text-align: end;

    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: $secondary;

    @include lg {
      position: relative;
      top: 0;
      left: 0;
      width: auto;

      text-align: left;
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }
}

.experience {
  .experience-entry {
    margin-bottom: 0.5rem;

    summary {
      list-style-position: outside;

      header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.89rem;

        cursor: pointer;

        .index {
          max-width: 0.8rem;
          color: $secondary;
        }

        .name {
          font-size: 0.9rem;
          font-weight: 400;
        }

        .position {
          color: $secondary;

          text-align: right;
          margin-left: auto;
        }
      }
    }

    // Details animation hack from https://stackoverflow.com/questions/38213329/how-to-add-css3-transition-with-html5-details-summary-tag-reveal
    &[open] .expanded {
      animation: sweep 0.3s ease-out;
    }

    @keyframes sweep {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .expanded {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      margin-top: 0.6rem;

      img {
        width: 100%;
        height: 8rem;

        object-fit: cover;
        object-position: 50% 50%;

        border-radius: 0.4rem;
      }

      hr {
        border-color: $secondary;
      }

      .tech-date-container {
        display: flex;
        justify-content: space-between;

        @include sm {
          font-size: 0.8rem;
        }

        .tech-stack,
        .date-range {
          color: $secondary;
        }

        .date-range {
          white-space: nowrap;
        }
      }

      .experience-detail {
        font-weight: 300;
      }

      .links {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
